# Configuración de npm para Nexus Repository

# Configuración específica para el scope @iti
@iti:registry=https://nexus3.iti.upv.es/repository/npm-playwright/
//nexus3.iti.upv.es/repository/npm-playwright/:_auth=cGxheXdyaWdodC1wdWJsaXNoZXI6V0tLM0p2akxkdg==

# Configuración SSL
strict-ssl=false
