registry=https://registry.npmjs.org/

# SOLO para tus paquetes privados
@iti:registry=https://nexus3.iti.upv.es/repository/npm-playwright/
//nexus3.iti.upv.es/repository/npm-playwright/:username=playwright-publisher
//nexus3.iti.upv.es/repository/npm-playwright/:_password=V0tLM0p2akxkdg==
//nexus3.iti.upv.es/repository/npm-playwright/:email=jmontero@iti.es
//nexus3.iti.upv.es/repository/npm-playwright/:always-auth=true

always-auth=true
